@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.borderless-input {
  outline: none;
}

/* Card.module.css */
.cardContainer {
  /* your styles for the card container */
}

.heartIcon {
  /* your styles for the heart icon */
}

.buttonContainer {
  position: relative;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.transitionButton {
  transform: translateY(0%);
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
